<div>
    <div class="creation-grid">
        <div class="creation-item"><h1 class="title">Set Creation</h1></div>
        <div class="creation-item">
            <form class="f-form">
                <mat-form-field class="f-field" appearance="fill">
                    <mat-label>Set Title</mat-label>
                    <input matInput placeholder="Ex. React" value="">
                  </mat-form-field>
                
                  <mat-form-field class="f-field" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Ex. A set about the front-end JS library React"></textarea>
                  </mat-form-field>
                  <button id="s-btn" mat-button>Create</button>
            </form>
        </div>
    </div>
</div>

